@import "var";

@keyframes slideUp {
  0% {
    bottom: -40%;
  }
  100% {
    bottom: 0;
  }
}

.ns-pickerView {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 0;
  }
  .ns-pickerView-mask {
    height: 100%;
    width: 100%;
    background-color: $pickerView__mask;
  }
  .ns-pickerView-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    width: 100%;
    padding-top: 45px;
    background: $pickerView__border-back;
    animation: slideUp 0.3s;
    .ns-pickerView-box__header {
      position: absolute;
      left: 0;
      top: 0;
      height: 45px;
      width: 100%;
      padding: 0 50px;
      border-bottom: 1px solid $pickerView__border-color;
      background: $pickerView__border-back;
      z-index: 10;
      text-align: center;
      & > div {
        line-height: 44px;
        font-size: 16px;
      }
      .ns-pickerView-box__header-title {
        text-align: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .ns-pickerView-box__header-btn {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        color: $pickerView__btn-text-color;
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
    }
    .ns-pickerView-box__content-wrap {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      overflow: hidden;
      .ns-pickerView-box__content {
        position: relative;
        flex: 1;
        .content-mask {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 100%;
          margin: 0 auto;
          width: 100%;
          z-index: 3;
          background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.6))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.6)));
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
          background-position: top, bottom;
          background-size: 100% 102px;
          background-repeat: no-repeat;
        }
        .content-indicator {
          position: absolute;
          left: 0;
          top: 102px;
          width: 100%;
          height: 34px;
          z-index: 3;
          border-top: 1PX solid $pickerView__border-color;
          border-bottom: 1PX solid $pickerView__border-color;
          box-sizing: border-box;
        }
        .content-item {
          height: 34px;
          line-height: 34px;
          font-size: 16px;
          color: $pickerView__item-text-color;
          text-align: center;
          touch-action: manipulation;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
